.chatroom{
    flex-grow: 1;
}
.messageComposer{
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.textInput {
    flex-grow: 1;
}
.roomsList{
    display: flex;
    width: 150px;
    flex-direction: column;
}
.chat{
    display: flex;
    flex-direction: row;
    position: relative;
}
.mainscreen {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    height: 100vh;
    justify-content: end;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayForm {
    width: 33%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    border-style: inset;
    border-color: grey;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
